<h1><%= @form.name %></h1>
<table>
  <tr>
    <th>Question</th>
    <th>Format</th>
  </tr>
  <% @questions.each do |q| %>
    <tr>
      <td><%= q.value  %></td>
      <td><%= q.format  %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Edit Questions', edit_form_questions_path(@form) %>

<p>Users who answered:</p>
<ul>
  <% @usernames.each do |username| %>
    <li>
      <%= link_to username, form_answers_for_user_path(@form, username) %>
      <%= link_to 'Delete', form_answers_for_user_path(@form, username), method: :delete %>
    </li>
  <% end %>
</ul>
